<footer class="bg-dark text-white py-4 mt-5">
  <div class="container text-center">
    <p>&copy; <%= Time.now.year %> Ecommerce Project. All rights reserved.</p>
    <p>
      <a href="<%= root_path %>" class="text-white text-decoration-none">Home</a> |
      <a href="<%= about_path %>" class="text-white text-decoration-none">About Us</a> |
      <a href="<%= contact_path %>" class="text-white text-decoration-none">Contact</a>
    </p>
    <p>
      Follow us:
      <a href="https://facebook.com" target="_blank" class="text-white mx-2"><i class="bi bi-facebook"></i></a>
      <a href="https://twitter.com" target="_blank" class="text-white mx-2"><i class="bi bi-twitter"></i></a>
      <a href="https://instagram.com" target="_blank" class="text-white mx-2"><i class="bi bi-instagram"></i></a>
    </p>
  </div>
</footer>