<div class="mb-3">
  <%= link_to "Show All Products", products_path, class: "btn btn-secondary" %>
  <%= link_to "On Sale (Below $50)", products_path(filter: "on_sale"), class: "btn btn-primary" %>
</div>