<div class="container">
  <div class="row">
    <!-- Sidebar for Tags -->
    <%= render "products/sidebar", tags: @tags %>

    <!-- Main Product Grid -->
    <div class="col-md-9">
      <h1 class="d-flex justify-content-start my-4">Chosen For You</h1>

      <%= render "products/filters" %>

      <div class="row">
        <%= render partial: "products/product_card", collection: @products, as: :product %>
      </div>

      <div class="d-flex justify-content-start">
        <%= paginate @products, theme: 'bootstrap-4' %>
      </div>
    </div>
  </div>
</div>